@use "sass:map";
@use "@core/scss/base";

// Layout
@use "vertical-nav";
@use "horizontal-nav";
@use "default-layout-w-vertical-nav";
@use "default-layout-w-horizontal-nav";

// Skins
@use "skins";

// Utilities
@use "utilities";

// Mixins
@use "mixins";

.v-divider {
  display: block;
  flex: 1 1 100%;
  height: 0;
  max-height: 0;
  opacity: var(--v-border-opacity);
  transition: inherit;
  border-style: solid;
  border-width: thin 0 0 0;
}
